In [35]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import urllib

In [37]:
!curl https://data.cityofnewyork.us/resource/pqfs-mqru.csv > greentaxi.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  205k    0  205k    0     0   623k      0 --:--:-- --:--:-- --:--:--  623k

In [38]:
!mv greentaxi.csv $PUIDATA

In [39]:
greentaxi = pd.read_csv("%s/greentaxi.csv"%os.getenv("PUIDATA"))

In [42]:
greentaxi

,dolocationid,dropoff_latitude,dropoff_longitude,ehail_fee,extra,fare_amount,improvement_surcharge,lpep_dropoff_datetime,lpep_pickup_datetime,mta_tax,...,pickup_longitude,pulocationid,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,trip_distance,trip_type,vendorid
0,NaN,40.698044,-73.924278,NaN,0.5,8.0,0.3,2016-01-01T00:39:36.000,2016-01-01T00:29:24.000,0.5,...,-73.928642,NaN,1,N,1.86,0.00,11.16,1.46,1,2
1,NaN,40.761379,-73.923920,NaN,0.5,15.5,0.3,2016-01-01T00:39:18.000,2016-01-01T00:19:39.000,0.5,...,-73.952675,NaN,1,N,0.00,0.00,16.80,3.56,1,2
2,NaN,40.646072,-74.013161,NaN,0.5,16.5,0.3,2016-01-01T00:39:48.000,2016-01-01T00:19:33.000,0.5,...,-73.971611,NaN,1,N,4.45,0.00,22.25,3.79,1,2
3,NaN,40.689034,-74.000648,NaN,0.5,13.5,0.3,2016-01-01T00:38:32.000,2016-01-01T00:22:12.000,0.5,...,-73.989502,NaN,1,N,0.00,0.00,14.80,3.01,1,2
4,NaN,40.663013,-73.940720,NaN,0.5,12.0,0.3,2016-01-01T00:39:22.000,2016-01-01T00:24:01.000,0.5,...,-73.964729,NaN,1,N,0.00,0.00,13.30,2.55,1,2
5,NaN,40.742111,-73.867744,NaN,0.5,7.0,0.3,2016-01-01T00:39:35.000,2016-01-01T00:32:59.000,0.5,...,-73.891144,NaN,1,N,0.00,0.00,8.30,1.37,1,2
6,NaN,40.745689,-73.886192,NaN,0.5,5.0,0.3,2016-01-01T00:39:21.000,2016-01-01T00:34:42.000,0.5,...,-73.896675,NaN,1,N,0.00,0.00,6.30,0.57,1,2
7,NaN,40.794121,-73.949150,NaN,0.5,7.0,0.3,2016-01-01T00:39:36.000,2016-01-01T00:31:23.000,0.5,...,-73.953354,NaN,1,N,0.00,0.00,8.30,1.01,1,2
8,NaN,40.679726,-73.971573,NaN,0.5,12.0,0.3,2016-01-01T00:39:52.000,2016-01-01T00:24:40.000,0.5,...,-73.994064,NaN,1,N,2.00,0.00,15.30,2.46,1,2
9,NaN,40.739658,-73.917549,NaN,0.5,9.0,0.3,2016-01-01T00:39:23.000,2016-01-01T00:28:59.000,0.5,...,-73.914131,NaN,1,N,1.60,0.00,11.90,1.61,1,2
10,NaN,40.763126,-73.921028,NaN,0.5,6.0,0.3,2016-01-01T00:39:48.000,2016-01-01T00:32:25.000,0.5,...,-73.911179,NaN,1,N,1.82,0.00,9.12,0.72,1,2
11,NaN,40.718178,-73.962753,NaN,0.5,3.5,0.3,2016-01-01T00:39:31.000,2016-01-01T00:37:51.000,0.5,...,-73.958168,NaN,1,N,0.96,0.00,5.76,0.32,1,2
12,NaN,40.842766,-73.924904,NaN,0.5,14.5,0.3,2016-01-01T00:39:37.000,2016-01-01T00:21:39.000,0.5,...,-73.946678,NaN,1,N,0.00,0.00,15.80,3.54,1,2
13,NaN,40.775833,-73.902405,NaN,0.5,6.0,0.3,2016-01-01T00:39:49.000,2016-01-01T00:34:04.000,0.5,...,-73.914291,NaN,1,N,0.00,0.00,7.30,1.10,1,2
14,NaN,40.850197,-73.932030,NaN,0.5,11.0,0.3,2016-01-01T00:39:46.000,2016-01-01T00:26:08.000,0.5,...,-73.943375,NaN,1,N,2.00,0.00,14.30,2.28,1,2
15,NaN,40.640160,-73.966881,NaN,0.5,4.5,0.3,2016-01-01T00:39:33.000,2016-01-01T00:35:40.000,0.5,...,-73.966980,NaN,1,N,1.16,0.00,6.96,0.68,1,2
16,NaN,40.811867,-73.951584,NaN,0.5,10.0,0.3,2016-01-01T00:38:43.000,2016-01-01T00:25:05.000,0.5,...,-73.937843,NaN,1,N,0.00,0.00,11.30,1.36,1,2
17,NaN,40.693325,-73.947746,NaN,0.5,15.5,0.3,2016-01-01T00:39:49.000,2016-01-01T00:17:40.000,0.5,...,-73.990364,NaN,1,N,3.00,0.00,19.80,3.07,1,2
18,NaN,40.751564,-73.855522,NaN,0.5,7.5,0.3,2016-01-01T00:39:23.000,2016-01-01T00:31:16.000,0.5,...,-73.883827,NaN,1,N,0.00,0.00,8.80,1.52,1,2
19,NaN,40.659637,-73.976944,NaN,0.5,11.5,0.3,2016-01-01T00:39:17.000,2016-01-01T00:25:58.000,0.5,...,-73.980354,NaN,1,N,0.00,0.00,12.80,2.55,1,2
20,NaN,40.709942,-73.962814,NaN,0.5,7.5,0.3,2016-01-01T00:39:42.000,2016-01-01T00:30:54.000,0.5,...,-73.948799,NaN,1,N,0.00,0.00,8.80,1.57,1,2
21,NaN,40.684742,-73.924614,NaN,0.5,15.0,0.3,2016-01-01T00:39:36.000,2016-01-01T00:21:36.000,0.5,...,-73.961967,NaN,1,N,4.08,0.00,20.38,3.88,1,2
22,NaN,40.820686,-73.936195,NaN,0.5,16.5,0.3,2016-01-01T00:39:30.000,2016-01-01T00:18:54.000,0.5,...,-73.941109,NaN,1,N,0.00,0.00,17.80,3.97,1,2
23,NaN,40.752186,-74.004700,NaN,0.5,22.5,0.3,2016-01-01T00:39:32.000,2016-01-01T00:10:37.000,0.5,...,-73.933006,NaN,1,N,3.00,0.00,26.80,5.32,1,2
24,NaN,40.661926,-73.982399,NaN,0.5,9.0,0.3,2016-01-01T00:40:04.000,2016-01-01T00:30:53.000,0.5,...,-73.980385,NaN,1,N,3.09,0.00,13.39,1.76,1,2
25,NaN,40.698410,-73.944016,NaN,0.5,13.5,0.3,2016-01-01T00:39:52.000,2016-01-01T00:24:14.000,0.5,...,-73.970345,NaN,1,N,0.00,0.00,14.80,3.31,1,2
26,NaN,40.803051,-73.967995,NaN,0.5,10.0,0.3,2016-01-01T00:39:51.000,2016-01-01T00:30:03.000,0.5,...,-73.946259,NaN,1,N,2.26,0.00,13.56,2.21,1,2
27,NaN,40.683887,-73.997421,NaN,0.5,6.5,0.3,2016-01-01T00:39:53.000,2016-01-01T00:32:58.000,0.5,...,-73.983040,NaN,1,N,0.00,0.00,7.80,1.20,1,2
28,NaN,40.690716,-73.957466,NaN,0.5,5.0,0.3,2016-01-01T00:39:08.000,2016-01-01T00:34:53.000,0.5,...,-73.943100,NaN,1,N,0.00,0.00,6.30,0.61,1,2
29,NaN,40.690483,-73.960030,NaN,0.5,19.5,0.3,2016-01-01T00:39:32.000,2016-01-01T00:19:41.000,0.5,...,-73.942230,NaN,1,N,0.00,0.00,20.80,5.34,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,NaN,40.718117,-73.815208,NaN,0.5,7.5,0.3,2016-01-02T00:29:39.000,2016-01-01T00:44:31.000,0.5,...,-73.831825,NaN,1,N,0.00,0.00,8.80,1.58,1,2
971,NaN,40.796886,-73.937431,NaN,0.5,27.5,0.3,2016-01-01T00:49:45.000,2016-01-01T00:31:01.000,0.5,...,-73.830589,NaN,1,N,0.00,5.54,34.34,9.17,1,2
972,NaN,40.758240,-73.966118,NaN,0.5,17.0,0.3,2016-01-01T00:50:42.000,2016-01-01T00:34:18.000,0.5,...,-73.939835,NaN,1,N,3.66,0.00,21.96,4.83,1,2
973,NaN,40.866577,-73.886559,NaN,0.5,18.0,0.3,2016-01-01T00:50:27.000,2016-01-01T00:29:16.000,0.5,...,-73.911041,NaN,1,N,0.00,0.00,19.30,5.00,1,2
974,NaN,40.749809,-73.903038,NaN,0.5,9.0,0.3,2016-01-01T00:50:39.000,2016-01-01T00:36:28.000,0.5,...,-73.914886,NaN,1,N,0.00,0.00,10.30,1.79,1,2
975,NaN,40.764454,-73.911530,NaN,0.5,15.5,0.3,2016-01-02T00:00:00.000,2016-01-01T00:33:12.000,0.5,...,-73.953758,NaN,1,N,3.36,0.00,20.16,3.97,1,2
976,NaN,40.808662,-73.944939,NaN,0.5,4.0,0.3,2016-01-01T00:50:52.000,2016-01-01T00:47:39.000,0.5,...,-73.944702,NaN,1,N,1.00,0.00,6.30,0.48,1,2
977,NaN,40.764576,-73.916519,NaN,0.5,19.0,0.3,2016-01-01T00:50:29.000,2016-01-01T00:27:33.000,0.5,...,-73.956245,NaN,1,N,0.00,0.00,20.30,4.82,1,2
978,NaN,40.638531,-74.009911,NaN,0.5,19.5,0.3,2016-01-01T00:50:27.000,2016-01-01T00:34:45.000,0.5,...,-73.996269,NaN,1,N,5.20,0.00,26.00,5.76,1,2
979,NaN,40.726650,-74.000626,NaN,0.5,16.0,0.3,2016-01-01T00:48:38.000,2016-01-01T00:30:15.000,0.5,...,-73.957809,NaN,1,N,5.19,0.00,22.49,3.90,1,2
980,NaN,40.814907,-73.944817,NaN,0.5,5.0,0.3,2016-01-01T00:50:09.000,2016-01-01T00:46:05.000,0.5,...,-73.952759,NaN,1,N,0.00,0.00,6.30,0.79,1,2
981,NaN,40.627930,-74.023361,NaN,0.5,20.5,0.3,2016-01-01T00:50:32.000,2016-01-01T00:29:20.000,0.5,...,-73.976746,NaN,1,N,4.36,0.00,26.16,5.54,1,2
982,NaN,40.714027,-73.949944,NaN,0.5,14.5,0.3,2016-01-01T00:50:18.000,2016-01-01T00:33:09.000,0.5,...,-73.960297,NaN,1,N,3.16,0.00,18.96,3.82,1,2
983,NaN,40.719910,-73.987465,NaN,0.5,19.0,0.3,2016-01-01T00:50:49.000,2016-01-01T00:33:22.000,0.5,...,-73.973442,NaN,1,N,3.00,0.00,23.30,5.58,1,2
984,NaN,40.693748,-73.943855,NaN,0.5,5.5,0.3,2016-01-01T00:50:40.000,2016-01-01T00:45:36.000,0.5,...,-73.932800,NaN,1,N,3.00,0.00,9.80,0.90,1,2
985,NaN,40.789764,-73.980316,NaN,0.5,13.0,0.3,2016-01-01T00:50:54.000,2016-01-01T00:35:29.000,0.5,...,-73.949760,NaN,1,N,2.86,0.00,17.16,2.73,1,2
986,NaN,40.771961,-73.911072,NaN,0.5,7.0,0.3,2016-01-01T00:50:38.000,2016-01-01T00:43:59.000,0.5,...,-73.924599,NaN,1,N,1.66,0.00,9.96,1.56,1,2
987,NaN,40.824589,-73.947983,NaN,0.5,13.0,0.3,2016-01-01T00:50:30.000,2016-01-01T00:35:52.000,0.5,...,-73.945671,NaN,1,N,0.00,0.00,14.30,3.28,1,2
988,NaN,40.770599,-73.920090,NaN,0.5,6.0,0.3,2016-01-01T00:50:26.000,2016-01-01T00:44:29.000,0.5,...,-73.916161,NaN,1,N,0.00,0.00,7.30,0.97,1,2
989,NaN,40.705658,-73.937500,NaN,0.5,13.5,0.3,2016-01-01T00:49:57.000,2016-01-01T00:32:02.000,0.5,...,-73.924797,NaN,1,N,0.00,0.00,14.80,3.24,1,2
990,NaN,40.715233,-73.960457,NaN,0.5,33.5,0.3,2016-01-01T00:50:57.000,2016-01-01T00:23:54.000,0.5,...,-73.946449,NaN,1,N,8.70,0.00,43.50,10.52,1,2
991,NaN,40.724052,-74.000648,NaN,0.5,19.5,0.3,2016-01-01T00:50:54.000,2016-01-01T00:25:47.000,0.5,...,-73.957321,NaN,1,N,0.00,0.00,20.80,4.75,1,2
992,NaN,40.776134,-73.949905,NaN,0.5,24.5,0.3,2016-01-01T00:51:08.000,2016-01-01T00:28:14.000,0.5,...,-73.947029,NaN,1,N,4.64,0.00,30.44,7.53,1,2
993,NaN,40.793369,-73.968636,NaN,0.5,12.5,0.3,2016-01-01T00:51:05.000,2016-01-01T00:36:34.000,0.5,...,-73.955971,NaN,1,N,2.76,0.00,16.56,2.30,1,2
994,NaN,40.660126,-73.950661,NaN,0.5,12.0,0.3,2016-01-01T00:50:37.000,2016-01-01T00:35:17.000,0.5,...,-73.951019,NaN,1,N,0.00,0.00,13.30,2.44,1,2
995,NaN,40.663151,-73.950729,NaN,0.5,12.0,0.3,2016-01-01T00:50:45.000,2016-01-01T00:34:55.000,0.5,...,-73.943451,NaN,1,N,3.32,0.00,16.62,2.41,1,2
996,NaN,40.723164,-73.945076,NaN,0.5,11.5,0.3,2016-01-01T00:50:36.000,2016-01-01T00:41:25.000,0.5,...,-73.954819,NaN,1,N,0.00,0.00,12.80,3.48,1,2
997,NaN,40.691433,-73.996178,NaN,0.5,7.5,0.3,2016-01-01T00:50:57.000,2016-01-01T00:42:56.000,0.5,...,-73.998268,NaN,1,N,1.76,0.00,10.56,1.58,1,2
998,NaN,40.756721,-73.860802,NaN,0.5,17.5,0.3,2016-01-01T00:50:57.000,2016-01-01T00:39:04.000,0.5,...,-73.935181,NaN,1,N,0.00,0.00,18.80,5.66,1,2
999,NaN,40.660976,-73.993904,NaN,0.5,8.5,0.3,2016-01-01T00:51:05.000,2016-01-01T00:42:35.000,0.5,...,-73.976677,NaN,1,N,1.96,0.00,11.76,1.72,1,2

In [31]:
url = 'https://data.cityofnewyork.us/resource/su3p-fcfz.json'
taxi = pd.read_json(url)

In [34]:
taxi.shape

(1000, 17)

In [33]:
taxi

,dolocationid,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pulocationid,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,vendorid
0,244,0.5,21.0,0.3,0.5,1,1,230,1,N,4.46,0.0,26.76,2017-06-03T03:55:09.000,2017-06-03T03:40:57.000,6.87,2
1,230,0.5,10.5,0.3,0.5,3,1,125,1,N,1.25,0.0,13.05,2017-06-03T03:50:56.000,2017-06-03T03:40:58.000,2.40,1
2,145,0.5,14.5,0.3,0.5,6,1,79,1,N,3.16,0.0,18.96,2017-06-03T03:53:36.000,2017-06-03T03:40:58.000,4.50,2
3,25,0.5,12.5,0.3,0.5,1,2,79,1,N,0.00,0.0,13.80,2017-06-03T03:54:37.000,2017-06-03T03:40:58.000,3.10,2
4,80,0.5,12.5,0.3,0.5,1,2,211,1,N,0.00,0.0,13.80,2017-06-03T03:49:54.000,2017-06-03T03:40:59.000,3.60,1
5,236,0.5,6.5,0.3,0.5,1,1,141,1,N,1.56,0.0,9.36,2017-06-03T03:46:11.000,2017-06-03T03:40:59.000,1.40,2
6,237,0.5,8.5,0.3,0.5,1,2,48,1,N,0.00,0.0,9.80,2017-06-03T03:48:38.000,2017-06-03T03:41:00.000,1.90,1
7,163,0.5,13.5,0.3,0.5,1,1,211,1,N,1.00,0.0,15.80,2017-06-03T03:54:29.000,2017-06-03T03:41:01.000,3.72,2
8,237,0.5,7.0,0.3,0.5,1,1,161,1,N,0.50,0.0,8.80,2017-06-03T03:46:40.000,2017-06-03T03:41:02.000,1.60,1
9,181,0.5,21.0,0.3,0.5,1,1,234,1,N,4.46,0.0,26.76,2017-06-03T04:01:47.000,2017-06-03T03:41:02.000,6.23,2
10,79,0.5,8.5,0.3,0.5,1,1,231,1,N,2.08,0.0,11.88,2017-06-03T03:49:00.000,2017-06-03T03:41:02.000,1.95,2
11,141,0.5,9.0,0.3,0.5,1,1,170,1,N,3.05,0.0,13.35,2017-06-03T03:48:06.000,2017-06-03T03:41:03.000,2.30,1
12,116,0.5,26.0,0.3,0.5,2,1,249,1,N,5.45,0.0,32.75,2017-06-03T04:05:57.000,2017-06-03T03:41:03.000,7.80,1
13,174,0.5,38.5,0.3,0.5,1,1,161,1,N,7.96,0.0,47.76,2017-06-03T04:15:59.000,2017-06-03T03:41:03.000,12.45,2
14,79,0.5,4.5,0.3,0.5,5,1,79,1,N,1.00,0.0,6.80,2017-06-03T03:43:57.000,2017-06-03T03:41:03.000,0.77,2
15,141,0.5,6.0,0.3,0.5,3,2,229,1,N,0.00,0.0,7.30,2017-06-03T03:46:48.000,2017-06-03T03:41:04.000,1.00,2
16,158,0.5,3.0,0.3,0.5,1,3,158,1,N,0.00,0.0,4.30,2017-06-03T03:42:11.000,2017-06-03T03:41:05.000,0.00,1
17,249,0.5,5.0,0.3,0.5,1,1,249,1,N,0.00,0.0,6.30,2017-06-03T03:45:57.000,2017-06-03T03:41:05.000,0.61,2
18,107,0.5,9.5,0.3,0.5,1,2,144,1,N,0.00,0.0,10.80,2017-06-03T03:52:22.000,2017-06-03T03:41:05.000,1.47,2
19,265,0.0,40.0,0.3,0.0,1,1,265,5,N,0.00,0.0,40.30,2017-06-03T03:41:30.000,2017-06-03T03:41:06.000,25.60,1
20,141,0.5,6.5,0.3,0.5,1,2,262,1,N,0.00,0.0,7.80,2017-06-03T03:47:10.000,2017-06-03T03:41:06.000,1.20,1
21,256,0.5,14.0,0.3,0.5,1,1,114,1,N,3.06,0.0,18.36,2017-06-03T03:56:29.000,2017-06-03T03:41:06.000,3.31,2
22,142,0.5,9.0,0.3,0.5,1,2,68,1,N,0.00,0.0,10.30,2017-06-03T03:49:30.000,2017-06-03T03:41:08.000,2.20,1
23,185,0.5,34.0,0.3,0.5,1,1,233,1,N,7.06,0.0,42.36,2017-06-03T04:05:44.000,2017-06-03T03:41:08.000,11.69,2
24,262,0.5,16.0,0.3,0.5,1,1,144,1,N,2.00,0.0,19.30,2017-06-03T03:58:03.000,2017-06-03T03:41:09.000,4.67,2
25,166,0.5,7.0,0.3,0.5,1,1,42,1,N,1.50,0.0,9.80,2017-06-03T03:47:12.000,2017-06-03T03:41:10.000,1.60,1
26,263,0.5,22.5,0.3,0.5,1,1,158,1,N,7.10,0.0,30.90,2017-06-03T04:06:52.000,2017-06-03T03:41:10.000,6.10,1
27,164,0.5,5.0,0.3,0.5,1,1,100,1,N,1.26,0.0,7.56,2017-06-03T03:45:21.000,2017-06-03T03:41:10.000,0.79,2
28,226,0.5,12.5,0.3,0.5,1,1,229,1,N,2.76,0.0,16.56,2017-06-03T03:51:23.000,2017-06-03T03:41:10.000,3.45,2
29,41,0.5,15.0,0.3,0.5,1,1,230,1,N,5.00,0.0,21.30,2017-06-03T03:57:11.000,2017-06-03T03:41:11.000,4.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,169,0.5,2.5,0.3,0.5,1,2,169,1,N,0.00,0.0,3.80,2017-06-03T03:48:11.000,2017-06-03T03:47:51.000,0.00,1
971,141,0.5,4.5,0.3,0.5,1,1,141,1,N,1.00,0.0,6.80,2017-06-03T03:48:24.000,2017-06-03T03:45:43.000,0.60,1
972,74,0.5,17.5,0.3,0.5,1,1,79,1,N,1.00,0.0,19.80,2017-06-03T03:59:39.000,2017-06-03T03:45:43.000,6.10,1
973,226,0.5,14.5,0.3,0.5,1,1,233,1,N,1.11,0.0,16.91,2017-06-03T04:01:57.000,2017-06-03T03:45:43.000,3.95,2
974,140,0.5,12.0,0.3,0.5,1,2,79,1,N,0.00,0.0,13.30,2017-06-03T03:55:48.000,2017-06-03T03:45:44.000,3.50,1
975,36,0.5,19.5,0.3,0.5,1,2,211,1,N,0.00,0.0,20.80,2017-06-03T04:07:58.000,2017-06-03T03:45:45.000,5.37,2
976,79,0.5,3.5,0.3,0.5,1,3,144,1,N,0.00,0.0,4.80,2017-06-03T03:47:02.000,2017-06-03T03:45:46.000,0.40,1
977,114,0.5,7.0,0.3,0.5,1,2,68,1,N,0.00,0.0,8.30,2017-06-03T03:53:56.000,2017-06-03T03:45:46.000,1.10,1
978,80,0.5,19.0,0.3,0.5,1,1,158,1,N,2.00,0.0,22.30,2017-06-03T04:06:24.000,2017-06-03T03:45:46.000,5.19,2
979,48,0.5,6.0,0.3,0.5,5,2,230,1,N,0.00,0.0,7.30,2017-06-03T03:52:26.000,2017-06-03T03:45:47.000,1.02,2
980,7,0.5,6.5,0.3,0.5,2,1,223,1,N,1.56,0.0,9.36,2017-06-03T03:51:28.000,2017-06-03T03:45:48.000,1.19,2
981,233,0.5,5.5,0.3,0.5,1,1,107,1,N,1.36,0.0,8.16,2017-06-03T03:49:19.000,2017-06-03T03:45:49.000,1.19,2
982,13,0.5,16.5,0.3,0.5,1,1,48,1,N,3.00,0.0,20.80,2017-06-03T04:00:40.000,2017-06-03T03:45:50.000,4.90,1
983,141,0.5,10.0,0.3,0.5,1,1,234,1,N,1.00,0.0,12.30,2017-06-03T03:56:42.000,2017-06-03T03:45:50.000,2.20,1
984,143,0.5,8.5,0.3,0.5,1,2,186,1,N,0.00,0.0,9.80,2017-06-03T03:53:35.000,2017-06-03T03:45:50.000,2.20,1
985,137,0.5,14.5,0.3,0.5,1,1,80,1,N,3.95,0.0,19.75,2017-06-03T04:00:29.000,2017-06-03T03:45:50.000,4.00,1
986,237,0.5,14.5,0.3,0.5,1,1,4,1,N,2.00,0.0,17.80,2017-06-03T04:00:20.000,2017-06-03T03:45:50.000,3.80,1
987,42,0.5,16.5,0.3,0.5,5,1,48,1,N,3.56,0.0,21.36,2017-06-03T04:02:51.000,2017-06-03T03:45:50.000,4.41,2
988,243,0.5,53.0,0.3,0.5,2,2,148,1,N,0.00,0.0,54.30,2017-06-03T04:26:06.000,2017-06-03T03:45:50.000,18.50,2
989,264,0.5,7.5,0.3,0.5,1,3,264,1,N,0.00,0.0,8.80,2017-06-03T03:54:04.000,2017-06-03T03:45:51.000,1.40,1
990,262,0.5,13.0,0.3,0.5,1,1,79,1,N,2.85,0.0,17.15,2017-06-03T03:57:58.000,2017-06-03T03:45:51.000,3.70,1
991,17,0.5,13.0,0.3,0.5,1,1,255,1,N,2.00,0.0,16.30,2017-06-03T03:59:02.000,2017-06-03T03:45:52.000,3.40,1
992,137,0.5,6.5,0.3,0.5,2,2,79,1,N,0.00,0.0,7.80,2017-06-03T03:51:43.000,2017-06-03T03:45:52.000,1.20,1
993,48,0.5,5.0,0.3,0.5,1,2,100,1,N,0.00,0.0,6.30,2017-06-03T03:49:27.000,2017-06-03T03:45:52.000,0.90,1
994,68,0.5,5.0,0.3,0.5,1,1,246,1,N,1.00,0.0,7.30,2017-06-03T03:49:42.000,2017-06-03T03:45:52.000,0.80,1
995,4,0.5,9.5,0.3,0.5,1,2,233,1,N,0.00,0.0,10.80,2017-06-03T03:54:43.000,2017-06-03T03:45:54.000,2.60,1
996,48,0.5,11.5,0.3,0.5,1,1,231,1,N,2.55,0.0,15.35,2017-06-03T03:56:45.000,2017-06-03T03:45:54.000,3.00,1
997,148,0.5,15.5,0.3,0.5,1,1,100,1,N,3.36,0.0,20.16,2017-06-03T03:59:55.000,2017-06-03T03:45:54.000,4.33,2
998,129,0.5,22.0,0.3,0.5,6,2,148,1,N,0.00,0.0,23.30,2017-06-03T04:00:33.000,2017-06-03T03:45:55.000,7.42,2
999,231,0.5,6.0,0.3,0.5,2,1,148,1,N,5.00,0.0,12.30,2017-06-03T03:52:24.000,2017-06-03T03:45:58.000,0.80,1

Analysis how the trip duration is changing with time for different day in the week

In [28]:
taxi.dropna(inplace=True)

taxi['tpep_dropoff_datetime'] = pd.to_datetime(taxi['tpep_dropoff_datetime'])
taxi['tpep_pickup_datetime'] = pd.to_datetime(taxi['tpep_pickup_datetime'])
taxi['trip_duration'] = taxi['tpep_dropoff_datetime'] - taxi['tpep_pickup_datetime']
taxi['trip_duration'] = pd.to_datetime(taxi['trip_duration'])

In [30]:
taxi['pickup_day'] = taxi.tpep_pickup_datetime.dt.weekday_name
taxi['pickup_hour'] = taxi.tpep_pickup_datetime.dt.hour
taxi.groupby('tpep_pickup_datetime')
taxi

,dolocationid,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pulocationid,ratecodeid,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance,vendorid,trip_duration,pickup_day,pickup_hour
0,244,0.5,21.0,0.3,0.5,1,1,230,1,N,4.46,0.0,26.76,2017-06-03 03:55:09,2017-06-03 03:40:57,6.87,2,1970-01-01 00:14:12,Saturday,3
1,230,0.5,10.5,0.3,0.5,3,1,125,1,N,1.25,0.0,13.05,2017-06-03 03:50:56,2017-06-03 03:40:58,2.40,1,1970-01-01 00:09:58,Saturday,3
2,145,0.5,14.5,0.3,0.5,6,1,79,1,N,3.16,0.0,18.96,2017-06-03 03:53:36,2017-06-03 03:40:58,4.50,2,1970-01-01 00:12:38,Saturday,3
3,25,0.5,12.5,0.3,0.5,1,2,79,1,N,0.00,0.0,13.80,2017-06-03 03:54:37,2017-06-03 03:40:58,3.10,2,1970-01-01 00:13:39,Saturday,3
4,80,0.5,12.5,0.3,0.5,1,2,211,1,N,0.00,0.0,13.80,2017-06-03 03:49:54,2017-06-03 03:40:59,3.60,1,1970-01-01 00:08:55,Saturday,3
5,236,0.5,6.5,0.3,0.5,1,1,141,1,N,1.56,0.0,9.36,2017-06-03 03:46:11,2017-06-03 03:40:59,1.40,2,1970-01-01 00:05:12,Saturday,3
6,237,0.5,8.5,0.3,0.5,1,2,48,1,N,0.00,0.0,9.80,2017-06-03 03:48:38,2017-06-03 03:41:00,1.90,1,1970-01-01 00:07:38,Saturday,3
7,163,0.5,13.5,0.3,0.5,1,1,211,1,N,1.00,0.0,15.80,2017-06-03 03:54:29,2017-06-03 03:41:01,3.72,2,1970-01-01 00:13:28,Saturday,3
8,237,0.5,7.0,0.3,0.5,1,1,161,1,N,0.50,0.0,8.80,2017-06-03 03:46:40,2017-06-03 03:41:02,1.60,1,1970-01-01 00:05:38,Saturday,3
9,181,0.5,21.0,0.3,0.5,1,1,234,1,N,4.46,0.0,26.76,2017-06-03 04:01:47,2017-06-03 03:41:02,6.23,2,1970-01-01 00:20:45,Saturday,3
10,79,0.5,8.5,0.3,0.5,1,1,231,1,N,2.08,0.0,11.88,2017-06-03 03:49:00,2017-06-03 03:41:02,1.95,2,1970-01-01 00:07:58,Saturday,3
11,141,0.5,9.0,0.3,0.5,1,1,170,1,N,3.05,0.0,13.35,2017-06-03 03:48:06,2017-06-03 03:41:03,2.30,1,1970-01-01 00:07:03,Saturday,3
12,116,0.5,26.0,0.3,0.5,2,1,249,1,N,5.45,0.0,32.75,2017-06-03 04:05:57,2017-06-03 03:41:03,7.80,1,1970-01-01 00:24:54,Saturday,3
13,174,0.5,38.5,0.3,0.5,1,1,161,1,N,7.96,0.0,47.76,2017-06-03 04:15:59,2017-06-03 03:41:03,12.45,2,1970-01-01 00:34:56,Saturday,3
14,79,0.5,4.5,0.3,0.5,5,1,79,1,N,1.00,0.0,6.80,2017-06-03 03:43:57,2017-06-03 03:41:03,0.77,2,1970-01-01 00:02:54,Saturday,3
15,141,0.5,6.0,0.3,0.5,3,2,229,1,N,0.00,0.0,7.30,2017-06-03 03:46:48,2017-06-03 03:41:04,1.00,2,1970-01-01 00:05:44,Saturday,3
16,158,0.5,3.0,0.3,0.5,1,3,158,1,N,0.00,0.0,4.30,2017-06-03 03:42:11,2017-06-03 03:41:05,0.00,1,1970-01-01 00:01:06,Saturday,3
17,249,0.5,5.0,0.3,0.5,1,1,249,1,N,0.00,0.0,6.30,2017-06-03 03:45:57,2017-06-03 03:41:05,0.61,2,1970-01-01 00:04:52,Saturday,3
18,107,0.5,9.5,0.3,0.5,1,2,144,1,N,0.00,0.0,10.80,2017-06-03 03:52:22,2017-06-03 03:41:05,1.47,2,1970-01-01 00:11:17,Saturday,3
19,265,0.0,40.0,0.3,0.0,1,1,265,5,N,0.00,0.0,40.30,2017-06-03 03:41:30,2017-06-03 03:41:06,25.60,1,1970-01-01 00:00:24,Saturday,3
20,141,0.5,6.5,0.3,0.5,1,2,262,1,N,0.00,0.0,7.80,2017-06-03 03:47:10,2017-06-03 03:41:06,1.20,1,1970-01-01 00:06:04,Saturday,3
21,256,0.5,14.0,0.3,0.5,1,1,114,1,N,3.06,0.0,18.36,2017-06-03 03:56:29,2017-06-03 03:41:06,3.31,2,1970-01-01 00:15:23,Saturday,3
22,142,0.5,9.0,0.3,0.5,1,2,68,1,N,0.00,0.0,10.30,2017-06-03 03:49:30,2017-06-03 03:41:08,2.20,1,1970-01-01 00:08:22,Saturday,3
23,185,0.5,34.0,0.3,0.5,1,1,233,1,N,7.06,0.0,42.36,2017-06-03 04:05:44,2017-06-03 03:41:08,11.69,2,1970-01-01 00:24:36,Saturday,3
24,262,0.5,16.0,0.3,0.5,1,1,144,1,N,2.00,0.0,19.30,2017-06-03 03:58:03,2017-06-03 03:41:09,4.67,2,1970-01-01 00:16:54,Saturday,3
25,166,0.5,7.0,0.3,0.5,1,1,42,1,N,1.50,0.0,9.80,2017-06-03 03:47:12,2017-06-03 03:41:10,1.60,1,1970-01-01 00:06:02,Saturday,3
26,263,0.5,22.5,0.3,0.5,1,1,158,1,N,7.10,0.0,30.90,2017-06-03 04:06:52,2017-06-03 03:41:10,6.10,1,1970-01-01 00:25:42,Saturday,3
27,164,0.5,5.0,0.3,0.5,1,1,100,1,N,1.26,0.0,7.56,2017-06-03 03:45:21,2017-06-03 03:41:10,0.79,2,1970-01-01 00:04:11,Saturday,3
28,226,0.5,12.5,0.3,0.5,1,1,229,1,N,2.76,0.0,16.56,2017-06-03 03:51:23,2017-06-03 03:41:10,3.45,2,1970-01-01 00:10:13,Saturday,3
29,41,0.5,15.0,0.3,0.5,1,1,230,1,N,5.00,0.0,21.30,2017-06-03 03:57:11,2017-06-03 03:41:11,4.00,1,1970-01-01 00:16:00,Saturday,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,169,0.5,2.5,0.3,0.5,1,2,169,1,N,0.00,0.0,3.80,2017-06-03 03:48:11,2017-06-03 03:47:51,0.00,1,1970-01-01 00:00:20,Saturday,3
971,141,0.5,4.5,0.3,0.5,1,1,141,1,N,1.00,0.0,6.80,2017-06-03 03:48:24,2017-06-03 03:45:43,0.60,1,1970-01-01 00:02:41,Saturday,3
972,74,0.5,17.5,0.3,0.5,1,1,79,1,N,1.00,0.0,19.80,2017-06-03 03:59:39,2017-06-03 03:45:43,6.10,1,1970-01-01 00:13:56,Saturday,3
973,226,0.5,14.5,0.3,0.5,1,1,233,1,N,1.11,0.0,16.91,2017-06-03 04:01:57,2017-06-03 03:45:43,3.95,2,1970-01-01 00:16:14,Saturday,3
974,140,0.5,12.0,0.3,0.5,1,2,79,1,N,0.00,0.0,13.30,2017-06-03 03:55:48,2017-06-03 03:45:44,3.50,1,1970-01-01 00:10:04,Saturday,3
975,36,0.5,19.5,0.3,0.5,1,2,211,1,N,0.00,0.0,20.80,2017-06-03 04:07:58,2017-06-03 03:45:45,5.37,2,1970-01-01 00:22:13,Saturday,3
976,79,0.5,3.5,0.3,0.5,1,3,144,1,N,0.00,0.0,4.80,2017-06-03 03:47:02,2017-06-03 03:45:46,0.40,1,1970-01-01 00:01:16,Saturday,3
977,114,0.5,7.0,0.3,0.5,1,2,68,1,N,0.00,0.0,8.30,2017-06-03 03:53:56,2017-06-03 03:45:46,1.10,1,1970-01-01 00:08:10,Saturday,3
978,80,0.5,19.0,0.3,0.5,1,1,158,1,N,2.00,0.0,22.30,2017-06-03 04:06:24,2017-06-03 03:45:46,5.19,2,1970-01-01 00:20:38,Saturday,3
979,48,0.5,6.0,0.3,0.5,5,2,230,1,N,0.00,0.0,7.30,2017-06-03 03:52:26,2017-06-03 03:45:47,1.02,2,1970-01-01 00:06:39,Saturday,3
980,7,0.5,6.5,0.3,0.5,2,1,223,1,N,1.56,0.0,9.36,2017-06-03 03:51:28,2017-06-03 03:45:48,1.19,2,1970-01-01 00:05:40,Saturday,3
981,233,0.5,5.5,0.3,0.5,1,1,107,1,N,1.36,0.0,8.16,2017-06-03 03:49:19,2017-06-03 03:45:49,1.19,2,1970-01-01 00:03:30,Saturday,3
982,13,0.5,16.5,0.3,0.5,1,1,48,1,N,3.00,0.0,20.80,2017-06-03 04:00:40,2017-06-03 03:45:50,4.90,1,1970-01-01 00:14:50,Saturday,3
983,141,0.5,10.0,0.3,0.5,1,1,234,1,N,1.00,0.0,12.30,2017-06-03 03:56:42,2017-06-03 03:45:50,2.20,1,1970-01-01 00:10:52,Saturday,3
984,143,0.5,8.5,0.3,0.5,1,2,186,1,N,0.00,0.0,9.80,2017-06-03 03:53:35,2017-06-03 03:45:50,2.20,1,1970-01-01 00:07:45,Saturday,3
985,137,0.5,14.5,0.3,0.5,1,1,80,1,N,3.95,0.0,19.75,2017-06-03 04:00:29,2017-06-03 03:45:50,4.00,1,1970-01-01 00:14:39,Saturday,3
986,237,0.5,14.5,0.3,0.5,1,1,4,1,N,2.00,0.0,17.80,2017-06-03 04:00:20,2017-06-03 03:45:50,3.80,1,1970-01-01 00:14:30,Saturday,3
987,42,0.5,16.5,0.3,0.5,5,1,48,1,N,3.56,0.0,21.36,2017-06-03 04:02:51,2017-06-03 03:45:50,4.41,2,1970-01-01 00:17:01,Saturday,3
988,243,0.5,53.0,0.3,0.5,2,2,148,1,N,0.00,0.0,54.30,2017-06-03 04:26:06,2017-06-03 03:45:50,18.50,2,1970-01-01 00:40:16,Saturday,3
989,264,0.5,7.5,0.3,0.5,1,3,264,1,N,0.00,0.0,8.80,2017-06-03 03:54:04,2017-06-03 03:45:51,1.40,1,1970-01-01 00:08:13,Saturday,3
990,262,0.5,13.0,0.3,0.5,1,1,79,1,N,2.85,0.0,17.15,2017-06-03 03:57:58,2017-06-03 03:45:51,3.70,1,1970-01-01 00:12:07,Saturday,3
991,17,0.5,13.0,0.3,0.5,1,1,255,1,N,2.00,0.0,16.30,2017-06-03 03:59:02,2017-06-03 03:45:52,3.40,1,1970-01-01 00:13:10,Saturday,3
992,137,0.5,6.5,0.3,0.5,2,2,79,1,N,0.00,0.0,7.80,2017-06-03 03:51:43,2017-06-03 03:45:52,1.20,1,1970-01-01 00:05:51,Saturday,3
993,48,0.5,5.0,0.3,0.5,1,2,100,1,N,0.00,0.0,6.30,2017-06-03 03:49:27,2017-06-03 03:45:52,0.90,1,1970-01-01 00:03:35,Saturday,3
994,68,0.5,5.0,0.3,0.5,1,1,246,1,N,1.00,0.0,7.30,2017-06-03 03:49:42,2017-06-03 03:45:52,0.80,1,1970-01-01 00:03:50,Saturday,3
995,4,0.5,9.5,0.3,0.5,1,2,233,1,N,0.00,0.0,10.80,2017-06-03 03:54:43,2017-06-03 03:45:54,2.60,1,1970-01-01 00:08:49,Saturday,3
996,48,0.5,11.5,0.3,0.5,1,1,231,1,N,2.55,0.0,15.35,2017-06-03 03:56:45,2017-06-03 03:45:54,3.00,1,1970-01-01 00:10:51,Saturday,3
997,148,0.5,15.5,0.3,0.5,1,1,100,1,N,3.36,0.0,20.16,2017-06-03 03:59:55,2017-06-03 03:45:54,4.33,2,1970-01-01 00:14:01,Saturday,3
998,129,0.5,22.0,0.3,0.5,6,2,148,1,N,0.00,0.0,23.30,2017-06-03 04:00:33,2017-06-03 03:45:55,7.42,2,1970-01-01 00:14:38,Saturday,3
999,231,0.5,6.0,0.3,0.5,2,1,148,1,N,5.00,0.0,12.30,2017-06-03 03:52:24,2017-06-03 03:45:58,0.80,1,1970-01-01 00:06:26,Saturday,3